<a href="https://colab.research.google.com/github/mrsferret/Code-Division/blob/main/Projects/Sea_Level_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using numpy to look for a correlation between time data and sea level rise
---

### Data Source
Global Average Absolute Sea Level Change, 1880-2014 from the US Environmental Protection Agency using data from CSIRO, 2015; NOAA, 2015.
https://datahub.io/core/sea-level-rise

The data describes annual sea levels from 1880 to 2013.  Measures are adjusted using two standards: Commonwealth Scientific and Industrial Research Organisation(CSIRO) and National Oceanic and Atmospheric Administration (NOAA)  

Raw Data file:  https://raw.githubusercontent.com/freeCodeCamp/boilerplate-sea-level-predictor/master/epa-sea-level.csv

For this exercise:
*  import the pandas library
*  import the numpy library
*  read the csv dataset containing data on sea-levels from the year 1880 to 2013 into a dataframe (df)
*  use df.head() and df.info() to inspect the data and the column data types

In [22]:
import pandas as pd
import numpy as np

def calc_sea_level_stats(df):

  # Create 2 numpy arrays from input df - one of Years and other of Sea Levels
  year_array = df['Year'].to_numpy(np.int16)
  display("Year Array: ", year_array)

  level_array = df['CSIRO_Adj_Sea_Level'].to_numpy()
  display("Level Array: ", level_array)

  # retrieve and save the max sea level rise
  max_rise = np.max(level_array)
  display("max_rise: ", max_rise)

  # retrieve and save the min sea level rise
  min_rise = np.min(level_array)
  display("min_rise: ", min_rise)
  
  #============================================================================
  # find the index of element in level array with value = max_rise 
  # and use this to find corresponding year in Year array
  #============================================================================
  # find the index to the element with max sea level rise
  arr_index = np.argmax(level_array)
  display("arr_index: ", arr_index)

  max_rise_year = year_array[arr_index]
  display("max_rise_year: ", max_rise_year)

  # retrieve and save the max sea level rise
  max_rise = np.max(level_array)
  display("max_rise: ", max_rise)

  #============================================================================
  # find the index of element in level array with value = min_rise 
  # and use this to find corresponding year in Year array
  #============================================================================
  # find the index to the element with max sea level rise

  arr_index = np.argmin(level_array)
  display("min arr_index: ", arr_index)

  min_rise_year = year_array[arr_index]
  display("min_rise_year: ", min_rise_year)
  

#===============================================================================
# Start Here
#===============================================================================
# read csv file into a dataframe
url = 'https://raw.githubusercontent.com/freeCodeCamp/boilerplate-sea-level-predictor/master/epa-sea-level.csv'
df = pd.read_csv(url)

# Change the column names
df.columns =['Year', 'CSIRO_Adj_Sea_Level', 'Lower_Err_Bound', 'Upper_Err_Bound', 'NOAA_Adj_Sea_Level']

# get some info about the dataframe
display (df.info())
display (df.head())
display (df.describe())

# get expected values to check against
max_df = (df[df.CSIRO_Adj_Sea_Level == df.CSIRO_Adj_Sea_Level.max()])
expctd_max_sea_rise = max_df.CSIRO_Adj_Sea_Level
expctd_max_sea_rise_yr = max_df.Year

display ("max sea rise: ", expctd_max_sea_rise)
display ("max sea rise year: ", expctd_max_sea_rise_yr)

# Go and convert df to numpy arrays and calculate some stats 
calc_sea_level_stats(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 134 non-null    int64
 1   CSIRO_Adj_Sea_Level  134 non-null    float64
 2   Lower_Err_Bound      134 non-null    float64
 3   Upper_Err_Bound      134 non-null    float64
 4   NOAA_Adj_Sea_Level   21 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 5.4 KB

None

,Year,CSIRO_Adj_Sea_Level,Lower_Err_Bound,Upper_Err_Bound,NOAA_Adj_Sea_Level
0,1880,0.000000,-0.952756,0.952756,NaN
1,1881,0.220472,-0.732283,1.173228,NaN
2,1882,-0.440945,-1.346457,0.464567,NaN
3,1883,-0.232283,-1.129921,0.665354,NaN
4,1884,0.590551,-0.283465,1.464567,NaN

,Year,CSIRO_Adj_Sea_Level,Lower_Err_Bound,Upper_Err_Bound,NOAA_Adj_Sea_Level
count,134.000000,134.000000,134.000000,134.000000,21.000000
mean,1946.500000,3.650341,3.204666,4.096016,7.363746
std,38.826537,2.485692,2.663781,2.312581,0.691038
min,1880.000000,-0.440945,-1.346457,0.464567,6.297493
25%,1913.250000,1.632874,1.078740,2.240157,6.848690
50%,1946.500000,3.312992,2.915354,3.710630,7.488353
75%,1979.750000,5.587598,5.329724,5.845472,7.907365
max,2013.000000,9.326772,8.992126,9.661417,8.546648

'max sea rise: '

132    9.326772
Name: CSIRO_Adj_Sea_Level, dtype: float64

'max sea rise year: '

132    2012
Name: Year, dtype: int64

'Year Array: '

array([1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890,
       1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901,
       1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912,
       1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923,
       1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934,
       1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945,
       1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956,
       1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967,
       1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978,
       1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013], dtype=int16)

'Level Array: '

array([ 0.        ,  0.22047244, -0.44094488, -0.23228346,  0.59055118,
        0.53149606,  0.43700787,  0.21653543,  0.2992126 ,  0.36220472,
        0.44094488,  0.37401575,  0.5       ,  0.68503937,  0.30314961,
        0.76771654,  0.46850394,  0.67322835,  1.04330709,  1.33858268,
        1.12598425,  1.11023622,  1.29133858,  1.60629921,  1.2007874 ,
        0.98425197,  1.2519685 ,  1.19685039,  1.0984252 ,  1.27559055,
        1.27165354,  1.59842519,  1.47637795,  1.54724409,  1.79527559,
        2.10629921,  2.03149606,  1.85433071,  1.79133858,  1.85433071,
        1.90551181,  1.98818897,  1.9527559 ,  2.        ,  1.71259842,
        1.79133858,  2.04724409,  2.00393701,  1.8503937 ,  1.90551181,
        2.06299212,  2.04724409,  2.27165354,  2.44094488,  2.22834645,
        2.4488189 ,  2.29527559,  2.51968504,  2.62204724,  2.82677165,
        2.61811023,  3.09842519,  3.09842519,  3.09842519,  2.84645669,
        2.95669291,  3.2519685 ,  3.37401574,  3.56299212,  3.51181102,
        3.59842519,  3.97244094,  3.87007874,  4.04330708,  3.92913385,
        3.96456693,  3.76377952,  4.29133858,  4.34645669,  4.35826771,
        4.503937  ,  4.74803149,  4.54330708,  4.48031496,  4.16929133,
        4.61023622,  4.39763779,  4.4527559 ,  4.48425196,  4.7519685 ,
        4.67716535,  4.88188976,  5.24015748,  5.003937  ,  5.47244094,
        5.40944881,  5.37007873,  5.3031496 ,  5.55511811,  5.36220472,
        5.59842519,  6.08661417,  5.85826771,  6.18897637,  6.1535433 ,
        5.74803149,  5.77165354,  5.79527558,  5.98031495,  6.15748031,
        6.23228346,  6.33464566,  6.35826771,  6.29133858,  6.49999999,
        6.61811023,  6.78740157,  7.06692913,  6.66535432,  7.01181102,
        7.06299212,  7.28740157,  7.38188976,  7.75984251,  7.74015747,
        7.74409448,  7.91732283,  7.99606298,  8.35039369,  8.58661416,
        8.90157479,  8.96456692,  9.32677164,  8.98031495])

'max_rise: '

9.326771644

'min_rise: '

-0.440944881

'arr_index: '

132

'max_rise_year: '

2012

'max_rise: '

9.326771644

'min arr_index: '

2

'min_rise_year: '

1882

### Then
---
1.  Calculate some statistics on the level array, eg:
*  mean
*  standard deviation
*  total 

2.  Use the fact that the arrays are aligned (e.g. the first number in the level array is linked to the first year in the year array and display:

*  the year with the biggest rise in level
*  the year with the lowest rise in level

*(**Hint**:  to do this you can use a new numpy function np.where() )*
 ```
np.where(array == value_to_find)
```
*There is some reference material [here](https://thispointer.com/find-the-index-of-a-value-in-numpy-array/)*

**Note**: ```np.where(...)``` will return a tuple containing all indexes where that value was found.  You can print all, or you can print the first value (it is likely that there will only be one in this case) using [0][0].  *With the correct code you should get an answer of 2012*


3.  Calculate the Pearson product-moment correlation coefficient between year and the rise in sea level.  (*Expected output:  0.98 when rounded to 2 decimal places*)

In [ ]:
display(df.describe())

              Year  ...  NOAA Adjusted Sea Level
count   134.000000  ...                21.000000
mean   1946.500000  ...                 7.363746
std      38.826537  ...                 0.691038
min    1880.000000  ...                 6.297493
25%    1913.250000  ...                 6.848690
50%    1946.500000  ...                 7.488353
75%    1979.750000  ...                 7.907365
max    2013.000000  ...                 8.546648

[8 rows x 5 columns]

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: