<a href="https://colab.research.google.com/github/mrsferret/Code-Division/blob/main/Worksheets/5_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using numpy for processing lists of number data

---

## numpy is a high performance array processing library for Python

Python lists can contain any type of data, including objects.  numpy arrays are specialised and can only contain numbers.

You can customise the memory usage so that arrays can use less memory and items are always stored contiguously, which isn't always the case for Python lists.  This means that it is more efficient at storing, and faster at processing, large data sets.

Use numpy arrays to **store and manipulate large lists of numbers** (for other data types use plain Python lists or a panda series)

Use numpy arrays to **process panda series (columns) where these contain numerical data and a large number of records**.

Use numpy arrays to **create new sets of data** to add to a dataframe.

For this course we are going to focus on using numpy arrays as a means of holding and working with a list of data from a pandas dataframe column.

---
## Creating a new numpy array (maybe for a new series or an extended series)

To use numpy, you will need to import it.  The conventional way to import numpy is to import the whole library and use an *alias*

`import numpy as np`

Every time you want to use a function from the numpy library you use the syntax:  

`np.function_name()`  

Create a new numpy array from a Python list of numbers
   
`arr = np.array([1,2,3])`

Or a new numpy matrix from a Python 2 dimensional list of numbers

`matrix = np.array([1,2,3],[4,5,6])`

Create a numpy array from a dataframe column (series):

`arr = df['column name'].to_numpy(datatype)`

where the datatype matches the data type of the column (`df.info()` will give this information if you are unsure).

### Exercise 1 - create a new numpy array to hold the numbers from 1 to 100
---

Write a function called `make_array()` which will:
*   create a list of the numbers 1 to 10  
*   create a new numpy array called **new_array** from that list
*   print `new_array`

Expected output:  
`[1 2 3 4 5 6 7 8 9 10] `

In [7]:
import numpy as np

def make_array(num_list):
  # add your code below here
  new_array = np.array(num_list)
  print (new_array)



# run and test the function against the expected output
make_array([1,2,3,4,5,6,7,8,9,10])

[ 1  2  3  4  5  6  7  8  9 10]

## Setting the number type in memory

numpy allows you to set the type of number in memory (e.g. `int8`, `int32`) when you create the array.  This allows memory allocation to be as small as possible.  

`new_matrix = np.array([1, 2, 3], np.int8)`    

This creates a list of whole numbers which are all small enough to fit in 1 byte of memory storage.

---
### Exercise 2 - create list of smallish numbers

Write a function which will:
*   accept a parameter **num_list**    
*   create a new numpy array called **new_array** from `num_list`, with data size `int16`
*   print `new_array`  

Test input:  
`[31112, 32321, 24567,456,324,789]`

Expected output:   
```
[31112 32321 24567 456 324 789]
```

In [8]:
import numpy as np

def create_new_array(num_list):
  # add your code below h new_array = np.array(num_list)
   new_array = np.array(num_list, np.int16)
   print (new_array)

# run and test the code against the expected output
create_new_array([31112, 32321, 24567,456,324,789])

[31112 32321 24567   456   324   789]

---
### Exercise 3 - create a numpy array from a pandas dataframe column

Write a function which  will first create a dataframe from the titanic data set, and then will create a numpy array from the Fare column.

*Recap*:  *the Fare column is df['Fare'] (assuming your dataframe is called df)*

*  create a dataframe from the data set in the file at this url:  https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv  
*  create a new numpy array called **fare** from the `Fare` column (*remember to specify the data type e.g. np.int32, float64 when using* `df.to_numpy()`)  
*  print the `fare` array

Expected output:  
```
array([  7.25  ,  71.2833,   7.925 , ......  23.45  ,  30.    ,   7.75  ])
```

In [10]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'

def create_fare_series():
  # add your code below here to read the data set into a dataframe and then create a numpy array from the Fare column and print it
  df = pd.read_csv(url)
  
  fare = df['Fare'].to_numpy(np.int32)
  print (fare)



# run the function and test against the expected output.
create_fare_series()

[  7  71   7  53   8   8  51  21  11  30  16  26   8  31   7  16  29  13
  18   7  26  13   8  35  21  31   7 263   7   7  27 146   7  10  82  52
   7   8  18  11   9  21   7  41   7   8  15   7  21  17  39   7  76  26
  61  35  10   7  27  46   7  80  83  27  27  15  10   8   7   8  10  46
  73  14  56   7   7   8  29  12   9   9   7  47  10  15  34   8 263   8
   8   7  61  20   7   8  34  63  23  26   7   7  77   8   7   7   7   7
   7  24  52  14   8   9  14   7   7  21 247  31  73   8  30  13  77  11
   7   7  22   6   7   7  14  26  13  15  26  53   9  79  15   7  15   6
  11  36   7  34  26  13  12  66   8  14   7  61   7   8   8  69  16  15
   7   8  39  20  55  27  25  56  33  29  11   7  30   7  25  28  13   0
  69  15  31  39  22  50  15  26  15   7  13  13   7  26  27 146   7   8
   7  13   9  69   6   7   8  10  15  18   7  31   7  21   7  13   7 113
   7  27  76  10   8  13   8   7  90   9  10   7  13  25  83   7  13  31
  10   7  26  26  10  12  14  15  10   7   7  90   7  14  52  26   7  10
  26  16  20  15  79  86 512  26   7  31  79   0   7  10  39   7 153 135
  31   0  19  29   7  77   7   0  29  20   7   7   9   8  26   8   9   7
  13   7  78  91  12   8   7  27   7 151  30 247   7  23   0  12   8 151
 110 108  24  56  83 262  26   7  26   7  26  14 164 134   7   7  12  29
  69 135   6  13  20  57  23  28 153  18 133   7  66 134   8  35  26 263
  13  13  13  13  13  16  15   8   9  35   7  17   7   9  55  13   7   7
  27  27  14   7  15   7  75   7   7  69  55   6   8 135  21  82   7 211
   4   7 227  15   7  52   7  73  46  13   7  12 120   7   7 113  16   7
   7  26  10  12   7   8   9  15   8  21   7  18   7  25   7   6  90   0
   7   8  32  13  13  24   7   7   7  14  20   7  26  26   7   8  26  16
  26   7  55 120  34  18 263  10  26   9   7  13   8  81  19  26  19  30
  27  19  27  89   8   7  26  51  10   7  26   8  38  13   8   7   0  26
   7  19   7   8  27  13   9  52  21   7   7  12  46   0   8   9  91  25
  90  29   8  15  19   7  30  49   8  14  78  15 151   7   8   7   7   9
  86 108  26  26  22  56   7   8  26  59   7  34  10  24  26   7  93   7
   7  57   7   7  10 221   7  11  26   7   7  22   8  26  26 106  14  49
  71  31  31  26 106  26  26  13  20  36 110  26   7   7   7  26  39 227
  79  17   7   7  13   8   8  24   7  21   7   7  10  51  26   7   8  14
  13  55  14   7  30 110  26  40   8  79  15  79   8   8   7  78   7   7
  26  24  33   0   7  56  27   7  42   8  26  15   7  30  41 153  31   7
  15   7   8  65  14  16  39  10  14  52  15   7  16  32  12  77   7   7
  30   7  30   0  27  13   7  26  39  16   7  69  27  56  19  76   7  35
   7   7   7  23   8   7   6  73   7  15  13 113 133   7  25   7   7  73
  13   7   8  52  39  52  10  13   0   7   8   9  46 512   8  76   9  46
  39  41  39  10   7 211  57  13  56   7  26  13   8   7 110   7 227  26
  14   7   7  26  13  26 151  15  49  26  52   9  13   7 227  10  15   7
  33   7  13  13  53   8  21   7  26   7 211  18   0  13  13  16  34 512
   7   7  30  78 262  16   7  71  20  13  53   7  23  12   9   7  65  14
   7  11   8  86  14   7   7 120   7  77  39   7  24   8   9   7  10   7
  23   7   7  12   7 211   7  57  30  23   7   7   7  29  20  79   7  26
  69  30   7  13  25   8   7  24  13  26 120   8   6   7   0   7  13  53
   7  24  10  31   8   0   7  37   6  27  93   8   0  12  39   6  56  37
   7  80  14  18   7   7   8  83   8   8  56  29   7  10  31   6   8   7
  69   7  33  89  31   7  15  39  26   9 164  26  19   7  14  11  25  69
  13  13  13  50   9  11   7  52   5   9  24   7   9   7   7  83  26   7
  10  10   7  29  13  30  23  30   7]

---
### Exercise 4 - get some statistics from a numpy array created from a data series

This exercise will use data on income in certain US states.  The link is: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true  This spreadsheet just has one sheet.  

Write a function which will create a numpy array from the `Age` column in the income dataset and will print the following:

*  the average (mean) age of those surveyed  
*  the age of the oldest person
*  the age of the youngest person

TO HELP with this, refer to this helpsheet: http://datacamp-community-prod.s3.amazonaws.com/da466534-51fe-4c6d-b0cb-154f4782eb54 

Expected output:  
```
29.88888888888889
42
22
```

In [23]:
import pandas as pd
import numpy as np

def get_age_stats(url):
  # add your code below here to read the data set into a dataframe and then create a numpy array from the Fare column and print it
  df = pd.read_excel(url)
  age = df['Age'].to_numpy(np.int32)

  mean = np.mean(age, dtype = np.int32)
  oldest = np.max(age)
  youngest = np.min(age)
  print('mean: ', mean)
  print('oldest: ', oldest)
  print('youngest: ', youngest)

# run the function and test against the expected output.
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true'
get_age_stats(url)

mean:  29
oldest:  42
youngest:  22

---
### Exercise 6 - find the mean and standard deviation of wages

This exercise will again use data on income in certain US states.  The link is: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true  This spreadsheet just has one sheet.

Write a function which will create a numpy array from the `Income` column in the income dataset and will print the following:

*  the mean income of those surveyed  
*  the standard deviation of income
*  the highest income
*  the lowest income as a percentage of the mean (lowest / mean * 100) 

TO HELP with this, refer to this helpsheet: http://datacamp-community-prod.s3.amazonaws.com/da466534-51fe-4c6d-b0cb-154f4782eb54 

Expected output:  
```
63.388888888888886
13.936916958961463
81
34.70639789658195
```

In [24]:
import pandas as pd
import numpy as np

def get_income_stats(url):
  # add your code below to calculate the stats
  df = pd.read_excel(url)
  
  income = df['Income'].to_numpy(np.int32)
  mean = np.mean(income, dtype = np.int32)
  std = np.std(income)
  lowest_pct = (np.min(income))/ mean * 100
  highest = np.max(income)
  print('mean: ', mean)
  print('std: ', std)  
  print('highest: ', highest)
  print('lowest %: ', lowest_pct)



# run the function and test against expected output
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true'
get_income_stats(url)

mean:  63
std:  13.936916958961463
highest:  81
lowest %:  34.92063492063492

---
### Exercise 7 - finding the correlation between two series

Let's find out if there is a strong correlation between Age and Income in the income data set.

*  read the Income data into a pandas dataframe
*  create a numpy array from the Age column  
*  create a numpy array from the Income column  
*  use the np.corrcoef(nparray1, nparray2) function to get the Pearson's Correlation Coefficient (the measure of linear correlation between the two data sets) and store it in a variable called **coef**
*  print the correlation coefficient output (see below, it will be a 2x2 matrix)
*  print the correlation coefficient (which is at position [0][1] (coef[0][1]))


Expected output:  
```
[[ 1.         -0.14787412]
 [-0.14787412  1.        ]]
 -0.1478741157606825

```
The matrix gives 4 values showing the correlation between:

```
   |    (Age/Age)        (Age/Income)     |
   |    (Income/Age)     (Income/Income)  |
```
This suggests that income decreases with age (the correlation is negative 
so as one increases the other decreases) but that the correlation is quite weak (an absolute correlation would be 1 and no correlation would be 0)

In [30]:
import pandas as pd
import numpy as np

def get_correlation(url):
  # add your code below to get the correlation figure for age and salary
  df = pd.read_excel(url)
  income = df['Income'].to_numpy(np.int32)
  age = df['Age'].to_numpy(np.int32)
  coef = np.corrcoef(age, income)
  print(coef)
  print (coef[0][1])


# run the function and test against expected output
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true'
get_correlation(url)

[[ 1.         -0.14787412]
 [-0.14787412  1.        ]]
-0.1478741157606825

---
## Broadcasting an operation across an array

Because a numpy array is created from a related set of data, it is useful to be able to operate on every item in the array in the same way.  For instance, the array might hold a set of scores out of 30 and you might want to convert all scores into percentages.

We can do this in a number of ways:  
1.  Create a new array to store the result after the operation in the new array
```
scores = np.array([29,25,15,22,30])
percentages = scores / 30 * 100
print(percentages)
```
Expected output:
```
[ 96.66666667  83.33333333  50.          73.33333333 100.        ]
```
2.  Store the result in the original array
```
scores = np.array([29,25,15,22,30])
scores = scores / 30 * 100
print(scores)
```
Expected output:
```
[ 96.66666667  83.33333333  50.  73.33333333 100. ]
```

Give it a try:

In [32]:
scores = np.array([29,25,15,22,30])
percentages = scores / 30 * 100
print(percentages)

scores = np.array([29,25,15,22,30])
scores = scores / 30 * 100
print(scores)

[ 96.66666667  83.33333333  50.          73.33333333 100.        ]
[ 96.66666667  83.33333333  50.          73.33333333 100.        ]

---
### Exercise 8 - increase whole array by 20

Write a function which will:
*  create a numpy array of 12 numbers
*  create a new array adding 20 to each of the items in the first array  
*  print the new array

Test input:  
`[1,2,3,4,5,6,7,8,1,2,3,4]`

Expected output:  
`[21 22 23 24 25 26 27 28 21 22 23 24]`

In [39]:
# add your code to define the function to increase all values in an array by 20 and then to call the function
import numpy as np

def calcArray():
  scores = np.array([1,2,3,4,5,6,7,8,1,2,3,4])

  scores = scores + 20
  print(scores)

calcArray()

[21 22 23 24 25 26 27 28 21 22 23 24]

---
## Conversion of values using broadcasting

---
### Exercise 9 - convert Titanic fares into 21st century values 

Write a function which will:  
*  create a dataframe from the titanic data set (https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv)   
*  create a numpy array from the Fare column
*  convert the fares into current value (multiply by a factor of 120.7045 - source https://www.in2013dollars.com/uk/inflation/1912?amount=32 *accessed 22/1/2022*)
*  print the average fare, the maximum fare and the minimum fare

Expected output:  
```
3887.1928207428173
61840.4399214
0.0
```

In [44]:
import pandas as pd
import numpy as np

def get_current_fares(url):
  # add your code below to get the fares data into a numpy array, convert to today's prices and print stats
  df = pd.read_csv(url)
  fare = df['Fare'].to_numpy(np.int32)
  current_value_pd = fare * 120.7045

  mean = np.mean(current_value_pd, dtype = np.int32)
  max_fare = np.max(current_value_pd)
  min_fare = np.min(current_value_pd)
  print('Mean Fare: ', mean)
  #======================================================================
  # Not sure why, but my Mean Fare and Max Fare is different to the expected mean above?
  #=====================================================================
  print('Max Fare: ', max_fare)
  print('Min Fare: ', min_fare)

# run the function and test against expected output
url = 'https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv'
get_current_fares(url)

Mean Fare:  3836
Max Fare:  61800.704
Min Fare:  0.0

---
### Exercise 10 - create a new column in the dataframe from a numpy array

**Challenging**

Write a function which will calculate expected salaries for all in the income data set after an inflation rate of 3.5% (with results in a new numpy array).

Just to show the result, calculate and print the Pearson Correlation Coefficient between the salaries series and the inflated salaries series.  We would expect this to be 1 (ie the inflated salary is always 3.5% higher than the current salary) and the exercise is just meant to show that - the statistic has no relevance.  

Create a new column in the dataframe from the new numpy array (so that the dataframe now contains the original salaries and the inflated salaries.  
(**Recap**:  *to add a new column, just use* `df['new column name']`)  

To assign a numpy array to a pandas column use  
`df['new column name'] = numpyarrayname.tolist()`

Display the new dataframe and print the correlation coefficient.

In [52]:
import pandas as pd
import numpy as np

def calc_expected_sals(url):
  df = pd.read_excel(url)
  income_np = df['Income'].to_numpy(np.int32)
  new_income_np = income_np * 1.035

  coef = np.corrcoef(income_np, new_income_np)
  print(coef)
  print (coef[0][1])

  df['new expected sal'] = new_income_np.tolist()
  display (df)


url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true'

calc_expected_sals(url)

[[1. 1.]
 [1. 1.]]
1.0

   State  County  Population   Age  Income  new expected sal
0     TX     1.0        72.0  34.0    65.0            67.275
1     TX     2.0        33.0  42.0    45.0            46.575
2     TX     5.0        25.0  23.0    46.0            47.610
3     TX     6.0        54.0  36.0    65.0            67.275
4     TX     7.0        11.0  42.0    53.0            54.855
5     TX     8.0        28.0  25.0    62.0            64.170
6     TX     9.0        82.0  35.0    66.0            68.310
7     TX    10.0         5.0  40.0    75.0            77.625
8     MD    11.0        61.0  27.0    22.0            22.770
9     MD     2.0         5.0  23.0    69.0            71.415
10    MD     4.0        98.0  25.0    73.0            75.555
11    MD     3.0        64.0  29.0    75.0            77.625
12    MD     2.0        36.0  24.0    65.0            67.275
13    MD     1.0        24.0  25.0    66.0            68.310
14    MD     5.0        34.0  31.0    78.0            80.730
15    MD     6.0        89.0  22.0    81.0            83.835
16    MD     8.0        21.0  25.0    73.0            75.555
17    MD     7.0        21.0  30.0    62.0            64.170

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: